<div class="col-xs-12 col-lg-12 mb-2" *ngIf="editMode === false">
  <h3>{{note.title}}</h3>
  <p><b>{{note.body}}</b></p>
</div>
<form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
  <div *ngIf="editMode === true" class="col-xs-12 col-lg-12">
    <input type="text" class="form-control mb-2" formControlName="title" id="title">
    <textarea class="form-control" id="" cols="30" rows="10" formControlName="body" id="body"></textarea>
  </div>
  <hr>
  <button *ngIf="editMode === true" class="btn btn-success mr-2 mb-2" type="submit"
    translate>{{'UPDATE' | translate}}</button>
</form>
<button *ngIf="editMode === false" class="btn btn-success mr-2"
  (click)="triggerEditMode()">{{'EDIT' | translate}}</button>
<button *ngIf="editMode === true" class="btn btn-primary mr-2 "
  (click)="triggerEditMode()">{{'CANCEL' | translate}}</button>
<button class="btn btn-danger " (click)="onDeleteNote()" [routerLink]="'/notes'">{{'DELETE' | translate}}</button>