<div class="container mt-3">
  <div class="row">
    <div class="col-xs-8 col-lg-8">
      <h1 translate>{{'APPTITTLE' | translate}}</h1>
    </div>
    <div class="col-xs-4 col-lg-4">
      <button class="btn btn-primary mr-1" (click)="switchLanguage('en')">EN</button>
      <button class="btn btn-primary mr-2" (click)="switchLanguage('cz')">CZ</button>
      <button class="btn btn-success mr-1" (click)="onSaveData()">{{'SAVEDATA' | translate}}</button>
      <button class="btn btn-success" (click)="onFetchData()">{{ 'FETCHDATA' | translate}}</button>
    </div>
  </div>

  <hr>
  <router-outlet></router-outlet>
</div>